*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.webp
*.pdf
*.png
.DS_Store
.idea
.project
.strong-pm
coverage/
node_modules/
npm-debug.log
dist/
log.txt
notifications/
.env*
.vscode

ressources/audios/*
!ressources/audios/.gitkeep

ressources/images/*
!ressources/images/.gitkeep

ressources/logs/*
!ressources/logs/.gitkeep

/src/__populate__/audios/*
!/src/__populate__/audios/.gitkeep